body {
    background-color: brown;
    font-weight: bold;
}
body header h1 {

    color : #070707 ;
    font-family: 'Times New Roman', serif ;
    font-size: 35px;
    font-weight: 700;
    background-color:#eba714 ;
    text-align: center;
}

body section ul {
    font-family: 'Times New Roman', serif;
}

section h3 {
    font-family: 'Times New Roman', serif;
    background-color: #e9ec1a;
    color : #080808 ;
    font-size: 20px ;
    font-weight: 700;
    font-style: italic;
}

section h3 ul li a {
    font-family: 'Times New Roman', serif;
    list-style: none;
    display: inline;
    text-align: center; 
    font-weight: 50px;
    font-style: italic;
}

footer section i {
    font-family: 'Times New Roman', serif;
    font-size: 15px;
    font-style: italic;
}